opencv-contrib-python
openai==0.28.1
numpy
open3d
atomics
av
pdbpp
multiprocess
torch==2.0.1
torchvision==0.15.2
moviepy
pyrealsense2
xarm-python-sdk
transforms3d
scipy
matplotlib
ftfy
regex
tqdm
easydict==1.13
flow-vis==0.1
timm==0.6.7
einops
scikit-image
scikit-learn
cupy==12.2.0
git+https://github.com/openai/CLIP.git
git+https://github.com/xArm-Developer/xArm-Python-SDK.git
git+https://github.com/IDEA-Research/Grounded-Segment-Anything.git#subdirectory=segment_anything
git+https://github.com/IDEA-Research/GroundingDINO.git